
body{
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.card{
    width: 500px;
    border: 0px solid black;
    border-radius: 20px;
    margin: 0 auto;
    
}
.menu{
   padding-left: 22px;
   padding-top: 50px;
    
}
.menu_text{
    font-family:  'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    padding-left: 20px;
    color: #000;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}
.food_here{
    width: 450px;
    font-size: 0.6rem;
    margin-left: 20px;
    background-color: #EFEFEF;
    border-radius: 12px;
    border: 0px;
    height: 45px;
    padding-left: 20px;
}
.type_food{
    padding-top: 25px;
    
}
.food{
    border: 0px solid black;
    border-radius: 12px;
    width: 90px;
    height: 90px;
    display: inline-block;
    margin-left: 25px;
    background-color: #EFEFEF;
    text-decoration: none;
}
.food:hover{
    border: 0px solid black;
    border-radius: 12px;
    width: 90px;
    height: 90px;
    display: inline-block;
    margin-left: 25px;
    background-color: #EAE2B7;
}
.food_text{
    padding-left: 31px;
    padding-top: 40px;
    color: #C4C4C4;
    font-size: 0.8rem;
}

.drinks_text{
    padding-left: 26px;
    padding-top: 40px;
    color: #C4C4C4;
    font-size: 0.8rem;
}
.dessert_text{
    padding-top: 40px;
    padding-left: 21px;
    color: #C4C4C4;
    font-size: 0.8rem;
}
.food_foto{
    position: relative;
    left: 26px;
    top: 22px;
}
.drinks_foto{
    position: relative;
    left: 26px;
    top: 25px;
}
.dessert_foto{
    position: relative;
    left: 26px;
    top: 26px;
}
.burger_text{
    font-size: 1rem;
    color: #003049;
    padding-left: 22px;
    font-weight: 500;
    padding-top: 15px;
}
.big_mac{
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    width: 450px;
    height: 100px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
}
.KFC_double{
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    width: 450px;
    height: 100px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
}
.fish_burger{
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #E5E5E5;
    width: 450px;
    height: 100px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
}
.big_mac_foto{
    position: relative;
    top: 16px;
    left: 33px;
}
.KFC_double_foto{
    position: relative;
    top: 25px;
    left: 30px;
}
.fish_burger_foto{
    position: relative;
    top: 27px;
    left: 22px;
}
.bigmac_text{
    position: relative;
    left: 53px;
    top: -26px;
    font-size: 0.8rem;
    color: #003049;
    font-weight: 400;
}
.KFC_double_text{
    font-size: 0.8rem;
    color: #003049;
    font-weight: 400;
    position: relative;
    left: 51px;
    top: -13px;
}
.fish_burger_text{
    font-size: 0.8rem;
    color: #003049;
    font-weight: 400;
    position: relative;
    left: 33px;
    top: -23px 
}
.Rs_240{
    font-size: 0.6rem;
    color: #D62828;
    font-weight: 500;
    position: relative;
    top: 5px;
    left: -1px;
}
.Rs_252{
    font-size: 0.6rem;
    color: #D62828;
    font-weight: 500;
    position: relative;
    top: 15px;
    left: -26px;
}
.Rs_220{
    font-size: 0.6rem;
    color: #D62828;
    font-weight: 500;
    position: relative;
    left: -41px;
    top: 5px;
}
.square{
    
}
.square_1{
    width: 500px;
    height: 500px;
    background-color: black;
    margin: 0 auto;
    position: relative;
    left: -450px;
    top: 50px;  
    z-index: 2;
}
.square_2{
    width: 500px;
    height: 500px;
    background-color: #FFCE22;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}
.square_2_blue{
    width: 500px;
    height: 250px;
    background-color: #2137FC;
}
.square_2_foto{
    position: relative;
    top: 138px;
    left: 50px;
}
.square_3{
    width: 500px;
    height: 500px;
    
    margin: 0 auto;
    position: relative;
    right: -450px;
    top: -50px;
    z-index: 2;
    border-top: 2px solid #2137FC;
    border-bottom: 2px solid #2137FC;   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ring{
    width: 444px;
    height: 444px;
    background-color: #FFCE22;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 28px;
}
.ring_blue{
    position: relative;
    top: -413px;
    left: 28px;
}
.square_3_foto{
    position: relative;
    top: -441px;
    left: 50px;
}
.dia{
    position: relative;
    top: 123px;
    left: 88px;
}
.flag_blue{
    width: 80px;
    height: 30px;
    background-color: blue;
    position: relative;
    top: 200px;
    left: 210px;
    border-radius: 6px 6px 0px 0px;

}
.flag_yellow{
    width: 80px;
    height: 30px;
    background-color: yellow;
    position: relative;
    top: 200px;
    left: 210px;
    border-radius: 0px 0px 6px 6px;
}
